$font-main: 'Lovinn', sans-serif;
$font-logo: 'Schibsted Grotesk', sans-serif;
$font-title: 'Rounded Sans', sans-serif;
$transform: translate(-50%, -50%);
$transform-rotate: translateY(-9px) rotate(-45deg);
$half: 50%;
$gray: #333;
$lightGray: #7a7a7a;
$semiGray: #b8b7a9;
$green: #297c6e;
$white: #ffffff;
$blue: #120836;
$thirty: 30px;
$twenty: 20px;
$pad: 30px 0 30px 0;
$halfPad: 0 15px;
$font-weight: 700;

