
#header {
    position: sticky;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    background-color: aquamarine;
}

#header .logo {
    height: 40px;
    float: left;
}

#navigation {
    float: right;
    
}

#navigation .list {
     margin: 0;
     padding: 0;
     list-style: none;
}

#navigation .list li {
    float: left;
    padding: 0 5px;
}

main {
    padding: 10px;
}

main article p img {
    float: left;
    width: 120px;
    margin: 0 15px 10px;
}   

main article:nth-child(odd) p img {
    float: left;
    margin: 0px 10px 10px 0px;
    position: relative;
    top: 0px;
}

main article:nth-child(even) p img {
    float: right;
    margin: 0px 0px 10px 10px;
}

#scrollTopButton {
    position: fixed;
    bottom: 15px;
    right: 15px;
}


